.filters{
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: relative;
}

.filters button{
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48%;
    width: 20%;
    border: none;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
}

.filters button:hover{
    opacity: 90%;
}
.locations, .amenities{
    display: inline-block;
    height:100%;
    width: 25%;
    margin: 0;
    padding: 0;
}

.locations{
    border-right: 1px solid #DDDDDD;
    position:relative;
    }
    
 .amenities{
     position:relative;
 }
    
 .loc{
     width:100%;
     margin: 15px 20px;
 }

.loc h3{
    font-weight: 600;
    padding:0;
    margin:0;
}
.loc h4{
    font-weight: 400;
    font-size: 14px;
    padding:0;
    margin:0;
}

ul{
    list-style: none;
}

.popover{
    background-color: #FAFAFA;
    width: 100%;
    border: 1px solid #DDDDDD;
    list-style: none;
    border-radius: 4px;
    margin:0;
    padding:0;
    display:none;
}
.amenities .popover{
    position: absolute;
    top: 100%;
}
.locations .popover{
    position:absolute;
    top:100%;
}

.popover li>h2{
    font-size: 16px;
    margin-left: 15px;
}

.amenities .popover{
    padding: 10px 15px;
}

.amenities:hover .popover, .locations:hover .popover{
    display: block;
    transition: all 1s ease-in;
}
